<app-header
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/proof_of_concept.jpg', width: 40, height: 'auto', alt: 'Dschang team logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/proof_of_concept.jpg', width: 30, height: 'auto', alt: 'Dschang team logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="''"
  class="pr-3">
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" href="javascript:void(0)" routerLink="/users">Utilisateurs</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
           <img src="assets/img/avatars/1.png" class="img-avatar" alt="admin@bootstrapmaster.com" tooltip="Profile" placement="left"/>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Compte</strong></div>
        <a  class="dropdown-item" (click)="openChangePasswordModal()"><i class="fa fa-shield"></i>Changer de mot de passe</a>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock"></i>Déconnexion</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <app-main-breadcrumb></app-main-breadcrumb>
    <div class="container-fluid">
       <router-outlet></router-outlet>  
    </div><!-- /.container-fluid -->
  </main>
</div>
<app-footer>
  <span><a href="#">Dschang team</a> &copy; 2022.</span>
  <span class="ml-auto">Powered by <a href="#">Dschang team</a></span>
</app-footer>
