<div class="modal-header">
  <h4 class="modal-title">Message</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="icon" class="text-center mb-3">
    <i class="fa {{ icon }} fa-lg zoom" style="font-size: xxx-large;"></i>
  </div>
  <p class="h5 text-center text-dark">
     {{ message }}
  </p>
</div>
<div class="modal-footer text-center">
        <button type="button" class="btn btn-secondary" (click)="close()">Fermer</button>
</div>

